<%= form_with model: @refuel, local: true do |form| %>
  
  <% if @refuel.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@refuel.errors.count, "error") %> prohibited this refuel from being saved:
      </h2>
      <ul>
        <% @refuel.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group"> 
    <%= form.label :date %>
    <%= form.date_field :date, class: "form-control" %>  
  </div>

  <div class="form-group"> 
    <%= form.label :driver %>
    <%= form.text_field :driver, class: "form-control" %>  
  </div>

  <div class="form-group"> 
    <%= form.label :vehicle %>
    <%= form.text_field :vehicle, class: "form-control" %>  
  </div>

  <div class="form-group"> 
    <%= form.label :odometer_reading %>
    <%= form.number_field :odometer_reading, class: "form-control" %>  
  </div>

  <div class="form-group"> 
    <%= form.label :refuel_location %>
    <%= form.text_field :refuel_location, class: "form-control" %>  
  </div>

  <div class="form-group"> 
    <%= label_tag(:fuel_litters, 'Litters of Fuel') %>
    <%= form.number_field :fuel_litters, class: "form-control", step: 'any' %>  
  </div>

  <p>
    <%= form.submit class: "btn btn-success float-right" %>
  </p>

<% end %>

