<h1>Refuel Details</h1>

<p>
  <strong>Date:</strong>
  <%= @refuel.date %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @refuel.driver %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @refuel.vehicle %>
</p>

<p>
  <strong>Odometer Reading:</strong>
  <%= @refuel.odometer_reading %>
</p>

<p>
  <strong>Refuel Location:</strong>
  <%= @refuel.refuel_location %>
</p>

<p>
  <strong>Litters of Fuel:</strong>
  <%= @refuel.fuel_litters %>
</p>

<% if user_signed_in? %>
  <%= link_to 'Back', refuels_path, class: "btn btn-sm btn-secondary"%>
  <%= link_to 'Edit', edit_refuel_path(@refuel), class: "btn btn-sm btn-primary" %>

<% else %>
  <%= link_to 'Back', home_index_path, class: "btn btn-sm btn-secondary"%>
<% end %>
